<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2><%= @user.fullname %></h2>
    <p>
      We recently received a request to reset your password, it has been changed to <strong><%= @password %></strong>. Please continue to login with your account, and change your password to something more memorable.
    </p>
    <p>
      If you feel receiving this email is in error, please either reply to this email, or call us on  <strong>01756 752195</strong>.
    </p> 
  </body>
</html>