<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Welcome, <%= @user.fullname %></h2>
    <p>
      This is just a quick confirmation to say that your account was created succesfully,
      your username is: <%= @user.username %>
    </p>
    <p>
      If you feel receiving this email is in error, please either reply to this email, or call us on  <strong>01756 752195</strong>.
    </p> 
  </body>
</html>