<h2>
  Devonshire Institute<br/><small>Grassington, North Yorkshire</small> <!-- page title -->
</h2>
<div class="row-fluid">
  <div class="span6">
    <!-- paragraph of text about the location, and why you should use it -->
    <p>
      Situated in the heart of the Yorkshire Dales, the Devonshire institute is perfect for all your event needs. From Weddings to your weekly Band Practice, the Institute offers all that you could ever want from a venue. With built-in lighting &amp; sound systems, we have everything you need to get up and running in no time at all.
    </p>
  </div>
  <div class="span5">
    <!-- image of the village -->
    <%= image_tag("Grassington.jpg", :alt => "Grassington Village", :class => "img-rounded") %>
  </div>
</div>
<div class="row-fluid">
  <div class="offset1 span9">
    <!-- image of the hall itself -->
    <p>
    </br>
      <%= image_tag("townhall.JPG", :alt => "Devonshire Institute", :class => "img-rounded") %>
    </p>
  </div>
</div>