<!-- template for deleting user -->
<div class="row-fluid">
  <div class="span2">
    <h2><%= @title %></h2> <!-- title -->
  </div>
  <div class="span7 offset1">
    <!-- warning for user -->
    <h2><small>You are about to delete <%= @user_toDelete.fullname %>, this action is irreversible. Please note that all bookings associated with this account will also be deleted.</small></h2>
  </div>
</div>
<div class="row-fluid">
  <div class="span4 offset3">
    <%= link_to "Confirm", {:action => "process_delete", :id => @user_toDelete.id }, :class => "btn btn-danger" %> <!-- button to confirm the action -->
    <%= link_to "Cancel", :back, :class => "btn btn-warning" %> <!-- button to cancel -->
  </div>
</div>